
.home {

    border: 2px solid white;
    margin-top: 300px;
    margin-bottom: 10px;
    margin-left: 350px;
    margin-right: 350px;

  }


h2, h1 {
  color: white;
  font-style: Impact, Charcoal, sans-serif;
  text-align: center;
}
p {
    font-size: 250%;
    color: white;
    font-family: Impact, Charcoal, sans-serif;
    text-align: center;
}
ul {
    color: white;
    font-family: Impact, Charcoal, sans-serif;
    text-align: center;
    line-height: 40px;
}
ol {
    color: white;
    font-family: Impact, Charcoal, sans-serif;
    text-align: center;
}
