
.home {

    border: 2px solid white;
    margin-top: 300px;
    margin-bottom: 10px;
    margin-left: 350px;
    margin-right: 350px;

  }


h2, h1 {
  color: white;
  font-style: Impact, Charcoal, sans-serif;
  text-align: center;
}
p {
    font-size: 250%;
    color: white;
    font-family: Impact, Charcoal, sans-serif;
    text-align: center;
}
ul {
    color: white;
    font-family: Impact, Charcoal, sans-serif;
    text-align: center;
    line-height: 40px;
}
ol {
    color: white;
    font-family: Impact, Charcoal, sans-serif;
    text-align: center;
}
/* Add a black background color to the top navigation */
.navigation {
    background-color: light gray;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.navigation a {
    float: right;
    font-style: Impact, Charcoal, sans-serif;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;

}

.about {
      border: 2px solid white;
      margin-top: 10px;
      margin-bottom: 100px;
      margin-left: 350px;
      margin-right: 350px;
      text-align: left;
      height: 600px;
      background-image: eric.jpg;


}
.about p {
    font-size: 20px;
    color: white;
    font-family: Impact, Charcoal, sans-serif;
    text-align: center;
}
}
.about h2 {
    color: black;
    font-family: Impact, Charcoal, sans-serif;
    text-align: center;
}
