
.home {

  
    margin-top: 250px;
    margin-bottom: 10px;
    margin-left: 350px;
    margin-right: 350px;
    border: 2px solid black;

  }


h2, h1 {
  color: white;
  font-style: Impact, Charcoal, sans-serif;
  text-align: center;
}
p {
    color: white;
    font-family: Impact, Charcoal, sans-serif;
    text-align: center;
}
ul {
    color: white;
    font-family: Impact, Charcoal, sans-serif;
    text-align: center;
    line-height: 40px;
}
ol {
    color: white;
    font-family: Impact, Charcoal, sans-serif;
    text-align: center;
}
